.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  width: 100%;
  overflow-x: auto;
}

.table th {
  background-color: #5d57c9;
  color: white;
  padding: 10px;
}

.table td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productImage {
  border-radius: 50%;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.view {
  background-color: teal;
}

.delete {
  background-color: crimson;
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 20px;
}

.pagination button {
  background-color: #5d57c9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:hover {
  opacity: 0.8;
}
